

<%= t("devise.mailer.reset_password_instructions.greeting", recipient: "#{@user.first_name} #{@user.last_name}" ) %></p>
<%= t("devise.mailer.reset_password_instructions.message_code", code: @user.reset_code) %></p>
<%= t("devise.mailer.reset_password_instructions.instruction_2", code: @user.reset_code) %></p>
<%= t("devise.mailer.reset_password_instructions.instruction_4", code: @user.reset_code) %></p>